<nav class="blognav">
    <div class="bloglogo" id="bloglogotext">OccasionMate</div>
    <div class="bloglogo" id="phonenum"> <box-icon name='phone' id = phonelogo style = "color: white;"></box-icon> +91 8756006781</div>
</nav>

<nav class="optionblognav">
    <ul class="listgroup">
        <li class="listnav" id="home_nav"><a href="#" class="listlink">Home</a></li>
        <li class="listnav"><a href="#" class="listlink">Wedding Planning</a></li>
        <li class="listnav"><a href="#" class="listlink">Birthday Party</a></li>
        <li class="listnav"><a href="#" class="listlink">Corporate Events</a></li>
        <li class="listnav"><a href="#" class="listlink">E-Invites</a></li>
        <li class="listnav"><a href="#" class="listlink">Book Event Planners</a></li>
    </ul>
</nav>

<div id="trendingnow">
    <div class="trendboxinline" id="trentext">Trending Now</div>
    <div class="trendboxinline trendboxnone" id="trendcontent1"> <a href="#" class="trendcontlink fadequote">Party
            Ideas for birthday celebration </a></div>
    <div class="trendboxinline trendboxnone" id="trendcontent2"> <a href="#"
            class="trendcontlink fadequote">Intruging wedding ideas for your love celebration </a></div>
    <div class="trendboxinline trendboxnone" id="trendcontent3"> <a href="#" class="trendcontlink fadequote">20 Fun
            entertaining planning for kids </a></div>
    <div class="trendboxinline trendboxnone" id="trendcontent4"> <a href="#" class="trendcontlink fadequote">Unique
            food stall ideas </a></div>
</div>