<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col col-one">
        <h4>Company</h4>
        <ul>
          <li><a href="/about-us">About Us</a></li>
        </ul>
      </div>
      <div class="footer-col col-two">
        <h4>Contact Info</h4>
        <ul>
          <li><a href="#"><i class="fi-xnsrxl-phone-solid"></i> +91-8470804805</a></li>
          <li><a href="#"><i class="footer-icon fi-xwsuxl-envelope-solid"></i> events@occasionmate.com</a></li>
        </ul>
      </div>
      <div class="footer-col col-three">
        <h4>More</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="footer-col col-four">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="footer-icon fi-xnsuxl-facebook"></i></a>
          <a href="#"><i class="footer-icon fi-xnluxl-twitter"></i></a>
          <a href="#"><i class="footer-icon fi-xnsuxl-instagram"></i></a>
          <a href="#"><i class="footer-icon fi-xwsuxl-envelope-solid"></i></a>

        </div>
      </div>
      <div class="footer-col col-five">
        <h4>Login</h4>
        <div>
          <a href="/vendors/login" class="button"><span></span>Vendor Login</a>
          <a href="/venue-login" class="button"><span></span>Venue Login</a>
        </div>
      </div>
    </div>
  </div>
</footer>