<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

    <!-- Friconix -->
    <script defer src="https://friconix.com/cdn/friconix.js"></script>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/css/VendorPackagesPageStyles.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="favicon.ico" />
</head>

<body>
    <%- include("partials/header") -%>

        <!--Picture Section-->
        <section class="container-fluid" id="header">
            <div class="register-header">
                <h1 class="main-title">Get more clients</h1>
                <h5 class="sub-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, animi assumenda
                    sapiente beatae eveniet iure.</h5>
            </div>
        </section>

        <section class="container-fluid" id="reasons">
            <h4>Why OccasionMate</h4>
            <p>Discover what we can offer</p>

            <div class="reasons-list">
                <div class="reason">
                    <img src="/Images/flp-lead1.png" alt="">
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, amet!</p>
                </div>

                <div class="reason">
                    <img src="/Images/flp-lead2.png" alt="">
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequuntur hic quidem optio sed
                        nostrum!</p>
                </div>

                <div class="reason">
                    <img src="/Images/flp-lead3.png" alt="">
                    <h5>Lorem, ipsum.</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus optio quod aut?</p>
                </div>
            </div>

        </section>

        <section class="container-fluid" id="packages">
            <h4>OccasionMate Packages</h4>
            <p>Discover the plan that best fits your business</p>

            <div class="pricing-table">

                <div class="pricing-card">

                    <h3 class="pricing-card-header">Package</h3>
                    <div class="price"><sup><i class="fi-xnsuxl-rupee"></i></sup>16,000<span>/MO</span></div>
                    <ul>
                        <li><strong>LEADS PROVIDED</strong></li>
                        <li>Marketing</li>
                        <li>Verified</li>
                        <li>Online Bookings</li>
                        <li>Secure Transactions</li>
                        <li>Rating</li>
                        <li>12/7 Email Support</li>
                        <li class="last">WhatsApp Support</li>
                    </ul>
                    <a href="/payment-confirm" class="buy-now-btn">BUY NOW</a>

                </div>

            </div>

        </section>

        <%- include("partials/footer") -%>

            <!-- Bootstrap Scripts -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>

            <!-- jQuery Scripts -->
            <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

            <!-- Swiper Scripts -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

            <!-- Javascript -->
            <script type="text/javascript" src="/script/VendorPackagesPageScript.js"></script>
            <script type="text/javascript" src="/script/script.js"></script>
</body>

</html>