@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



/* text with background image section */
.container-background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://proimages.aisleplanner.com/s3fs-public/styles/banner_image_1920x800_/public/f49bab6a-dcc8-4860-9ff9-7e59d3680db1.jpg?VersionId=V40nFD66WhYoc_5b5bDAS5j7SGyP3IBV&h=1c9b88c9&itok=DZW-mMt0");
  margin: 0;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
}

.bg-image-heading-h {
  font-weight: 400;
  font-size: 2.5rem;
}

.bg-image-text-p {
  font-size: 1rem;
}

.button-bg-header {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.5rem;
  text-decoration: none;
  width: 80%;
  max-width: 18rem;
  font-weight: 500;
  color: #FFFF;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
}

.button-bg-header:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  /* text with background image section */

  .search-flex-container-bg-header {
    flex-direction: row;
    justify-content: center;
  }

  .second-search-bar-bg-header {
    border-radius: 0;
  }

  .button-bg-header {
    width: 15%;
    max-width: 9.2rem;
    margin: 0;
    border-radius: 0 .5rem 0.5rem 0;
  }
}

/* Side bar filter section */
/* Side bar Section */

.Filter-search-section {
  position: relative;
  background: #24262b;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 98;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  overflow: hidden;
}

.radio input[type="radio"] {
  display: none;
}

.radio {
  cursor: pointer;
}

.radio span {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  position: absolute;
  left: -23px;
  top: 5px;
}

.radio span:after {
  content: "";
  height: 5px;
  width: 5px;
  background: white;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked~span:after {
  transform: translate(-50%, -50%) scale(1);
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  padding-left: 20px;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 0 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #24262b;
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li {
  color: #fff;
}

.sidebar .nav-links li input {
  margin: 10px;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #24262b;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #24262b;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #24262b;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .job {
  font-size: 12px;
}

.sidebar.close .button {
  display: none;
}

.sidebar .button {
  margin-left: 60px;
}

#menu-budget {
  padding-left: 60px;
}

.home-section {
  position: relative;
  overflow-y: auto;
  background: #eee9da;
  ;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close~.home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #24262b;
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 728px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }

  .sidebar {
    width: 78px;
  }

  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 98;
  }

  .sidebar.close~.home-section {
    width: 100%;
    left: 0;
  }
}


/* Card Section */
.all-card-container {
  margin: 1em;
  /* padding: 2rem; */
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid>article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
  height: 50%;
  width: 100%;
}

.grid .text {
  padding: 0 20px 20px 20px;
}

.card {
  position: relative;
}

.line-break {
  height: 5px;
  border: 0;
  margin-bottom: .5em;
  box-shadow: 0 10px 5px -10px #8c8c8c inset;
}


.region-place {
  font-size: 1.1rem;
  margin-bottom: 0;
}

a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

.card_title {
  font-size: 1.42rem;
  color: #0a0a23;
  margin-bottom: 2px;
  margin-top: .6rem;
  line-height: 1.025;
}

.card-sub-subtitle {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-bottom: 0;
  color: #6C757D;
}

.aligning-to-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-view {
  font-size: 1rem;
  position: absolute;
  top: 2%;
  right: 2%;
  color: #fff;
  z-index: 1;
}

.content-first-div-card-info i {
  font-size: 1rem;
}

.content-first-div-card-info {
  font-size: 0.75rem;
}

.content-second-div-card-info {
  font-size: 0.8rem;
  color: #6C757D;
}


.read-more {
  color: #0069d9;
  font-size: 0.95rem;
}

.home-content .text {
  line-height: 1;
}

.first-price {
  margin-bottom: 0;
  color: black;
}

.second-price {
  color: black;
}

.guests {
  margin-bottom: 7px;
}

.price-button {
  margin-bottom: .5rem;
}

/* card button section */

.button {
  justify-self: self-end;
  top: 10px;
  margin-right: 8px;
  position: relative;
  padding: 4px 5px;
  border: 2px solid #93bfcf;
  display: inline-block;
  text-decoration: none;
  color: #93bfcf;
  letter-spacing: 2px;
  transition: 0.5s;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}

.button:hover {
  background-color: #93bfcf;
  color: #24262b;
}



/* Setting general width of whole page for big screen sizes */
@media only screen and (min-width: 1400px) {
  .whole-web-page {
    max-width: 1600px;
    margin: 0 auto;
  }
}